*{
	box-sizing: border-box;
}
body {
	margin: 10px;
	padding: 10px;
	text-align: center;
} 
header ,footer {
	padding: 20px;
	background: skyblue;
	color:black;
	border-radius: 20px;
} 
section {
	width: 750px; 
	float: left;
	height: 800px;
	background: lavender;
 
}
.right {
	width: 50px
	float: left;
	height: 780px;
	background: lemonchiffon;
	border-left= 2px solid red;
	margin-left: 21%;
}
.main {
	margin: 10px 10px;
}
.main * {
border-radius: 10px;
}
.main::after {
	content: "";
	clear: both;
	display: table;
}
.topnav {
 background-color: lightgreen;
 overflow:hidden;
 }
.topnav a {
 float: left;
 color: #f2f2f2;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 font-size: 17px;
}
.topnav a:hover {
 background-color: #ddd;
 color: black;
}
.topnav a.active {
 background-color: #4CAF50;
 color: white;
}